{% load static %}
<!doctype html>
<html lang="zh-CN">

<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="{% static 'wlapp/bootstrap.min.css' %}">

    <title>学生成绩管理</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">王磊之声</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">首页</a> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/show_excel/">成绩管理</a>
                    </li>

                </ul>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        bigwang
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </nav>
        <h3>成绩管理页面</h3>
        <!-- method=post 默认发送keyword给本页面的链接 交由后台函数处理-->

        <form class="form-inline mb-2" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control-plaintext" name="keyword" value="{{keyword}}" placeholder="请输入搜索关键词">
            <button type="submit" class="btn btn-primary ">搜索</button>

        </form>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>语文</th>
                    <th>数学</th>
                    <th>英语</th>
                </tr>
            </thead>
            <tbody>
                {% for idx,row in df.iterrows %}
                <!-- 这是html代码，要写for循环，只能这么写，注意下方闭合标签-->

                <tr>
                    <th>{{row.学号}}</th>
                    <th>{{row.姓名}}</th>
                    <th>{{row.语文}}</th>
                    <th>{{row.数学}}</th>
                    <th>{{row.英语}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <script src="{% static 'wlapp/jquery.min.js' %} "></script>
    <script src="{% static 'wlapp/bootstrap.bundle.min.js' %}"></script>





</body>

</html>

<!--val() 主要用于表单元素值的获取和设置,如input sleect等。html() 主要用于 HTML 元素内部 HTML 内容的获取和设置-->